/datasets
/output
/=2.0.1
/implicit_diff.ipynb
/discordbot
/01_annotation_tools/data
/detectron2_notebooks/detectron2_wandb/wandb
/detectron2_notebooks/detectron2_wandb/output
/01_annotation_tools/deeplab_model
/01_annotation_tools/background_substraction/deeplab_model
/01_annotation_tools/background_substraction/models
/01_annotation_tools/background_substraction/Models
/01_annotation_tools/background_substraction/__pycache__
/01_annotation_tools/background_substraction/TB_Summary
/github_media/background_substraction/results
/01_annotation_tools/background_substraction/binary_images
/01_annotation_tools/background_substraction/bin_close_images
/01_annotation_tools/background_substraction/interior1
/01_annotation_tools/background_substraction/more_close
/01_annotation_tools/background_substraction/terraza
/01_annotation_tools/background_substraction/bin_close_images.zip
/01_annotation_tools/RLE_ENCODED_casia.json
/01_annotation_tools/real_casia.json
/01_annotation_tools/RLE_ENCODED.json
/01_annotation_tools/background_substraction/filename.mp4
/02_detectron2_notebooks/E1_balloon_training/datasets
/02_detectron2_notebooks/P1_silhouette_training/output
/02_detectron2_notebooks/P1_silhouette_training/datasets
/01_annotation_tools/json_files
/01_annotation_tools/background_substraction/Resultados
/02_detectron2_notebooks/E1_balloon_training/output
/01_annotation_tools/data
/02_detectron2_notebooks/P2_centermask_training/output
/02_detectron2_notebooks/P2_centermask_training/extracted_classes
/02_detectron2_notebooks/P2_centermask_training/results